<section class="legal">
  <div class="container">
    <h1>{{ 'imprint.title' | t }}</h1>

    <div class="card">
      <h2>{{ 'imprint.cards.tmc.title' | t }}</h2>
      <p>
        <strong>{{ 'imprint.cards.tmc.name' | t }}</strong><br />
        {{ 'imprint.cards.tmc.location' | t }}
      </p>
      <p>
        <strong>{{ 'imprint.cards.tmc.emailLabel' | t }}:</strong>
        <a [href]="'mailto:' + email">{{ email }}</a>
      </p>
    </div>

    <div class="card">
      <h2>{{ 'imprint.cards.content.title' | t }}</h2>
      <p>{{ 'imprint.cards.content.p' | t }}</p>
    </div>

    <div class="card">
      <h2>{{ 'imprint.cards.links.title' | t }}</h2>
      <p>{{ 'imprint.cards.links.p' | t }}</p>
    </div>
  </div>
</section>
