<section id="hero" class="section heroSection">
  <app-hero></app-hero>
</section>

<section id="about" class="section aboutSection">
  <app-about></app-about>
</section>

<section id="skills" class="section skillsSection">
  <app-skills></app-skills>
</section>

<section id="projects" class="section projectsSection">
  <app-projects></app-projects>
</section>

<section id="references" class="section referencesSection">
  <app-references></app-references>
</section>

<section id="contact" class="section contactSection">
  <app-contact></app-contact>
</section>
